    <h1>검색화면 </h1>
    <%
      if(kind=='Book Search'){
    %>
    <form action="/book/search" method="post">
    <% 
      }else if(kind=='NameCard Search') { 
    %>
    <form action="/namecard/search" method="post">
    <% 
      }else if(kind=='Calender Search') { 
    %>
    <form action="/calender/search" method="post">
    <% } %>
        <div class="row mb-3">
          <label for="inputEmail3" class="col-sm-2  col-form-label"><%=kind%></label>
          <div class="col-sm-5">
            <input type="id" class="form-control" placeholder="<%=des%>" name="keyword" maxlength="50">
          </div>
        </div>
        <button type="submit" class="btn btn-primary">검색</button>
    </form>
    <p>
      <% if (listyn == "Y")
         {    
          if(kind=='Book Search'){
      %>
            <table class="table">
      <%    var i = 0;
            while(i < bs.length) {
      %>
              <tr><td><img src="<%=bs[i].img%>" style="width:100px;height:100px; "></td><td><a href="/book_detail/<%=bs[i].id%>"><%=bs[i].name%></a></td><td><%=bs[i].author%></td><td><%=bs[i].price%>원</td>
              </tr>
      <% 
            i++; 
        }  
      %>
          </table>
      <%
        }else if(kind=='NameCard Search') { 
      %>
      <table class="table">
        <%    var i = 0;
              while(i < ns.length) {
        %>
                <tr>
                  <td class="td td-sm"><%=ns[i].name%></td><td><%=ns[i].title%>
                  </td><td><%=ns[i].tel%></td>
                </tr>
        <% 
              i++; 
          }  
        %>
          </table>  
      <%
        }else if(kind=='Calender Search'){
      %>
      <table class="table">
        <%    var i = 0;
              while(i < cs.length) {
        %>
                <tr>
                  <td class="td td-sm"><%=cs[i].title%></td><td><%=cs[i].description%></td>
                </tr>
        <% 
              i++; 
          }  
        %>
          </table>  
      <% }} %>
    </p>